<div class="funds">
    <img class="imagen" [src]="data.icon" alt  >

    <div class="funds__content" [style.width]="width" > 
        <div class="titulo primary-bold-h5 mb-4">
            {{ data.titulo }}
        </div>
        <div class=" body font-secondary-regular-16">  
            {{ data.body }} <br>
             <span>
               <b> {{ data.puntaje }}  acierto(s) de {{ data.total }} preguntas</b>
            </span>
        </div>
        <div class="botones">
            <app-button
                (click)="onAceptar(false)"
                type="BottonLandingPrimary"
                [size]="size"
                [nombreBotton]="data.nameBotonConfirm" 
            ></app-button>

            <app-button
                (click)="onAceptar(true)"
                type="BottonLanding"
                [size]="size"
                [nombreBotton]="data.nameBotonCancel" 
            ></app-button>
        </div>
    </div>
</div>
