@import '../../../assets/custom/breakpoints.scss';

.funds { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
  .imagen{
    border-radius: 50%;
    background: #dfe8f8;
    padding: 0.8em;
    height: 50px;
    position: relative;
    top: -35px;
    border: solid 1px #d3d3e9;
    box-shadow: 0px 5px 5px rgb(191 112 112 / 30%);
  }

  &__content{
    text-align: center;  

    .body{
      margin: 1em 0;
    }
    .titulo{
      margin-top: -1em;
    }
     
    .botones{
      margin: 1em 0;
      gap: 0.5em;
      display: flex;
      justify-content:space-evenly;

      @include media-breakpoint("xs") { 
        flex-direction: column;
        gap: 0.5em;
      } 
    }
  }
}
 