<div class="content">
    <div class="fijo">
        <div class="contenido"> 
            <div class="items">
                <div class="item font-primary-bold-h4">  
                    <div class="logo" >
                        <img class="imagen" src="../../assets/iconos/icono-navbar.png" alt="logo">
                    </div> 
                     <div class="font-secondary-bold-14">
                        Es un placer saber que te interesa saber más,<br>
                        sobre lo que he aprendido en estos ultimos años  
                     </div>
                </div> 
            </div>
        </div> 
    </div>
    <div class="vistas">
        <router-outlet></router-outlet>
    </div>
</div>