@import '../../../../../assets/custom/breakpoints.scss';
 
.registro{ 
  align-items: center;
  overflow: auto; 
  display: flex;
  flex-direction: column;
  height:auto;
  
  @include media-breakpoint('lt-sm') {
    height: 100vh;
    align-content: space-between;
  } 

  &::-webkit-scrollbar {
    width: 3px;
    height: 10px;
    -webkit-appearance: none !important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #c4c4c4;
    height: 2px;
  }

  &__content{ 
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center; 
    min-width: 250px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
  }
 
      .formulario{
          
        &__inputs{
          display: flex;
          flex-direction: column;
          gap: 2em;
        } 
      }
}

.cabecera-gradiente{
  display: none;
  @include media-breakpoint('lt-md') {
    display: block;
  }   
}
  