@import '../../../../assets/custom/breakpoints.scss';
 
.registro{ 
  overflow: auto;
  padding: 20px; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  @include media-breakpoint('lt-md') { 
    align-content: space-between;
  } 

  &::-webkit-scrollbar {
    width: 3px;
    height: 10px;
    -webkit-appearance: none !important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #c4c4c4;
    height: 2px;
  }

 
  &__titulo{ 
    margin: 3em;
    justify-content: space-between;
    display: flex; 
    gap: 2em;
    text-align: center; 
    align-items: center;
    @include media-breakpoint('lt-md') {
      flex-direction: column;
    } 
      
  }
}

.pie-gradiente{ 
  display: flex;
  position: absolute;
  bottom: 0px;
}
  
.table-responsive{
  display: none;
 
  @include media-breakpoint('lt-md') {
    display: flex; 
    flex-direction: column;
    gap: 1em;   
  }

    .card{ 
      padding: 20px;
      background: aqua;
      border-radius: 15px; 
 
  
      @include media-breakpoint('lt-md') {
        display: flex; 
        gap: 2em;   
        align-items: center;
        justify-content: space-around;
      }

      @include media-breakpoint('xs') {  
        display: flex;
        gap: 1em;
        flex-direction: column;
        align-items: normal;
      }

    }

    .timeoff{
      background-color: red;
      color: white
    }
    .processing{
      background-color: rgb(182, 255, 36);
    }



    .datos-medico{
      display: block;
    }

    .others{
      display: flex;
      justify-content: space-around;
      gap: 10px;
    }
  } 


.table{ 
  padding: 2em;
  width: auto;
 
  @include media-breakpoint('lt-md') {
    display: none;
  }  
  th{
    background: #002ea1;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: 145%;
    color: rgb(255 255 255 / 87%);
  }

  td {
      text-align: center; 
      font-style: normal;
      font-size: 14px;
      line-height: 145%;
      color: rgba(0, 0, 0, 0.87);
  }
}

.mat-column-tiempo_restante{  
  min-width: 150px;
}

.mat-column-names{  
  min-width: 150px;
}


.mat-column-accion{
  width: 50px;
}

  

.timeoff{
  border-top-right-radius: 0px;
  background-color: red !important;
  color: white !important;
}
.processing{
  border-top-right-radius: 0px;
  background-color: rgb(182, 255, 36) !important;
}
 


mat-mdc-table, .mdc-data-table__table {
  border-radius: 20px; 
  background-color: transparent;
}

.botones{
  display: flex;
  gap: 10px;
  @include media-breakpoint('lt-sm') {
    justify-content: center;
  }  
}

.no-data{
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 30vh;
  border-radius: 15px;
  border: solid 2px red;
  padding: 50px;
}