<div class="registro">   
    <div class="registro__titulo">
        <div class="primary-bold-h2 color-black-300 ">
            <span class="line-under-text">Li</span>sta de Niños
        </div> 

        <app-button
          *ngIf="list.length"
          (clicked)="onAdd()"
          nombreBotton="Registrar Niño(a)"
          type="BottonPrimary"
          size="sm">
        </app-button> 
    </div> 

    <ng-container *ngIf="list.length || isLoading; else noData">
      <div class="table">
        <table mat-table [dataSource]="list" class="mat-elevation-z8">  
  
          <ng-container matColumnDef="names">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.names}} </td>
          </ng-container> 
          
          <ng-container matColumnDef="tiempo">
            <th mat-header-cell *matHeaderCellDef> tiempo </th>
            <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="tiempo_restante">
              <th mat-header-cell *matHeaderCellDef> Tiempo Restante </th>
              <td mat-cell *matCellDef="let element"> {{element.tiempo_restante}} </td>
          </ng-container>
             
          <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let element">
                <div class="mt-4 botones">

                  <app-button
                    (clicked)="onInicilize(element.tiempo_code)"
                    nombreBotton="Iniciar"
                    type="BottonPrimary"
                    size="sm">
                  </app-button> 
                  
                  <app-button
                    (clicked)="onFinish(element)"
                    nombreBotton="Cerrar"
                    type="BottonLanding"
                    size="sm">
                  </app-button> 

                  <app-button
                    (clicked)="onUpdate(element)"
                    urlimagen="../../../../assets/iconos/icon-edit.svg"
                    type="BottonIcon"
                    size="xl" >
                  </app-button> 
                
              </div> 
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <div class="table-responsive">
        <div class="card font-secondary-regular-18" *ngFor="let persona of list">
          <div class="datos-medico"> 
            <div> Nombres : <b> {{persona.names}} </b> </div>
            <div> Tiempo :  <b> {{persona.tiempo}} </b> </div>
            <div> Tiempo_restante :  <b> {{ tiempo_restante }} </b> </div> 
          </div> 
          <div class="mt-4 botones">
              <app-button
                (clicked)="onInicilize(persona.tiempo_code)"
                nombreBotton="Iniciar"
                type="BottonPrimary"
                size="sm">
              </app-button> 

              <app-button
              (clicked)="onFinish(persona)"
                nombreBotton="Cerrar"
                type="BottonLanding"
                size="sm">
              </app-button> 
 
              <app-button
                (clicked)="onUpdate(persona)"
                urlimagen="../../../../assets/iconos/icon-edit.svg"
                type="BottonIcon"
                size="xl" >
              </app-button> 
          </div> 
          
        </div>
      </div>
    </ng-container>  
     
    <ng-template #noData> 
      <div class="no-data">
        <div class="primary-bold-h2"> Aún no tenemos niños registrados.. </div> 
        <app-button
          (clicked)="onAdd()"
          nombreBotton="Registrar niño(a)"
          type="BottonPrimary"
          size="md">
        </app-button> 
      </div> 
    </ng-template> 

    <div class="pie-gradiente"style="overflow: hidden;">
      <svg preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg"
      style="fill: #2d39ad; width: 180%; height: 151px; transform: rotate(180deg);">
      <path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
      opacity=".25" />
      <path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
          opacity=".5" />
      <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
      </svg>
    </div> 
</div>

 
<app-preloader 
  [isShow]="isLoading"
  texto="Consultando información de médicos registrados...">
</app-preloader> 
 