
<div class="footer">
    <div class="footer__container">
        <div class="footer__contact-us__info">
            <img class="footer__contact-us__logo__img" src="assets/iconos/icon_footer_email.svg" alt="Logo Cambix" width="144.21" height="31.68" />

            <a class="footer__contact-us__info__link font-secondary-regular-18"
              href="criizt.mart@gmail.com" target="_blank" rel="external"
              title="Envíanos un correo">{{email}}</a>
        </div>

        <div class="footer__contact-us__info"> 
            <img class="footer__contact-us__logo__img" src="assets/iconos/icon_footer_wstp.svg" alt="Logo Cambix" />
         
            <a class="footer__contact-us__info__link font-secondary-regular-18"
              href="https://api.whatsapp.com/send?phone=51934560280&text=Hola tengo una consulta" target="_blank"
              title="Envíanos un mensaje">934560280</a>
        </div>
 
        <div class="footer__contact-us__box">
            <div class="footer__contact-us__social-networks">
              <div class="footer__contact-us__social-networks__text cbx-font-primary-bold">Síguenos</div>
              <div class="footer__contact-us__social-networks__icons">
                <a href="" target="_blank"><img src="assets/iconos/facebook-white.svg" alt="Síguenos en Facebook" width="38.02" height="38.02"></a>
                <a href="" target="_blank"><img src="assets/iconos/youtube-white.svg" alt="Síguenos en YouTube" width="38.02" height="38.02"></a>
                <a href="" target="_blank"><img src="assets/iconos/Instagram-white.svg" alt="Síguenos en Instagra," width="38.02" height="38.02"></a>
              </div>
            </div> 
        </div> 
    </div>
    
    <div class="footer__copyright font-secondary-regular-14 white"> Copyright {{ anioActual }}  | Todos los derechos reservados.</div>
</div>
