@import '../../../assets/custom/breakpoints.scss';

.MenuPrimary{
 
  .navigation  {
     // background-image: linear-gradient(120deg, #040303 5%, #310751 50%);
      background: #11113f;
      height: 100vh; 
      padding: 10px;
      padding-top: 3em;
      
      &__closed{ 
        text-align: right; 
        &__icon{  
          padding: 0.2em 2em;
          cursor: pointer; 
        } 
      }

      &__menu{
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-left: 1em;
      
          .items-content{
           
            &__item-menu{
              display: flex;
              align-items: center;
              gap: 0.5em; 
            }
  
          } 
      }  
  }
 
}

img{
  filter: invert(1);
}