<div [ngClass]="type" >    
    <div class="navigation">   
        <div class="navigation__menu" >
            <div  *ngFor="let items of menuArray$ | async">
                <div class="items-content white">
                    <div class="items-content__item-menu primary-bold-h6">
                        <img [src]="items.icon" [alt]="items.alt_icon" width="20" height="20">
                        <span class="cursor-pointer" (click)="onNavigate(items.router || '')"> {{items.name }}</span>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
  </div> 