@import '../../../assets/custom/breakpoints.scss';

.funds { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
  .imagen{
    border-radius: 50%;
    background: #dfe8f8;
    padding: 0.8em;
    height: 50px;
    position: relative;
    top: -35px;
  }

  &__content{
    text-align: center;  

    .body{
      margin: 1em 0;
    }
    .titulo{
      margin-top: -1em;
    }
     
    .botones{
      margin: 1em 0;
      display: flex; 
      justify-content: center;
      
    }
  }
}
 